<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="StandardLayout">
<head>
    <title>Account receivable search</title>
</head>

<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Account Receivable Search</h1>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th>Description</th>
                        <th class="text-center col-md-2">Due date</th>
                        <th class="text-right col-md-2">Value</th>
                        <th class="text-center col-md-2">Status</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">No account receivable found!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</html>